<!DOCTYPE html>
<html>
  <head>
    <title>Bird Watch</title>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:700" rel="stylesheet">
  </head>
  <header>
    <div class=home_header><h1><%= t 'site.welcome_message' %></h1></div>
    <div class='language_link'>
      Languages:
      <%= link_to_unless_current 'Español', locale: 'en'%>
      <%= link_to_unless_current 'English', locale: 'es'%>
    </div>
  </header>
  <body class=dashboard_body>
      <p class=body_text><%= t 'site.body' %></p>
      <div class="login">
        <% if current_user == nil %>
        <%= link_to t('site.login'), new_user_path %>
        <% else %>
        <p><%= t 'user.welcome' %> <%= current_user.first_name %> <%= current_user.last_name %> <%= link_to t('user.favorites'), user_path(current_user) %>
        <%= button_to t('user.logout'), session_path, method: :delete %></p>
        <% end %>
      </div>
      <div class="search">
        <div class="search_fields">
          <p><%= t 'zipcode.search' %></p>
          <div class='zip_field'>
            <%= form_tag zip_location_path, method: :get do %>
              <%= text_field_tag :zip %>
              <%= submit_tag t('zipcode.submit') %>
            <% end %>
          </div>
          <div class='state_field'>
          <p><%= t 'state.search' %></p>
            <%= form_tag state_location_path, method: :get do |f| %>
            <%= select_tag :state,  options_for_select(@location.states) %>
            <%= submit_tag t('state.submit') %>
            <% end %>
          </div>
        </div>
      </div>
  </body>
  <footer>
    <div class=footer_text><p>admin: chris.ian.powell@gmail.com</p></div>
  </footer>
</html>
